body {
    font-family: "微軟正黑體";
}

.txt_size_22px {
    font-size: 20px;
    color: black !important;
}

table {
    width: 100%;
}

td {
    padding: 20px;
}

.qa_title {
    margin-top: 20px;
    font-weight: bold;
}

li {
    padding: 10px;
}

@media screen and (max-width:414px) {
    .size-full {
        width: 95vw !important;
    }
    table {
        width: 95vw !important;
    }
    td {
        width: auto !important;
        padding: 0 0 20px 0;
    }
}